    <div class="row">
      <div class="row">
        <div class="col-xs-12">
          <div class="page-header genie-header">
            <h1>
            Genie
            </h1>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-3">

<--! Start of comment thread-->
        <div class="row">


          <div class="content-container">

            <div class="row" *ngFor="let chat of chats">


            <div class="row" *ngIf="userType(chat)">
              <div class="genie">
                Genie
              </div>
              <div class="direction" *ngIf="chat.image">
                <img [src]="chat.image" alt="">
              </div>
              <div class="message received col col-md-offset-1 col-md-8" style='border:1px solid rgba(50, 150, 50, 1); border-radius:3px; color:#FFF; background:rgba(100, 200, 100, 1); padding: 10px 15px'>
                <div *ngFor="let messagePart of chat.message" class="message-parts">{{messagePart}}</div>
              </div>
            </div>

            <div class="row" *ngIf="!userType(chat)">
              <div class="you">
                You
              </div>
              <div class="message sent col col-md-offset-3 col-md-8" style='border:1px solid rgba(150, 50, 50, 1); border-radius:3px; color:#FFF; background:rgba(200, 100, 100, 1); padding: 10px 15px'>
                {{chat.message}}
              </div>
            </div>

          </div>

          <form role="form" (submit)="sendMessage($event, message.value)">
            <div class="form-group col-md-12">
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-music" aria-hidden="true"></span></div>
                <input type="text" class="form-control" #message id="exampleInputAmount" placeholder="Amount">
                <div class="input-group-addon"><span class="glyphicon glyphicon-send" aria-hidden="true"></span></div>
              </div>
            </div>
          </form>


      </div>
    </div>
